* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-margin-top: 5rem;
}

img {
    width: 100%;
    display: block;
}

::-webkit-scrollbar {
    width: 10px; /* ancho del scrollbar */
    background-color: var(--bg_body); /* color del fondo del scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--bg_home_img); /* color del thumb */
    border-radius: 50px; /* radio de los bordes del thumb */
  }

:root { 
    --bg_home_img: hsl(354, 78%, 60%);
    --bg_body:hsl(206, 4%, 97%);
    --color_white: white;
    --color_stock: hsl(0, 0%, 55%);
    --color_black: black;
    --color_social_icons: hsl(0, 0%, 35%);
    --bg_button_show: hsl(0, 0%, 17%);
    --bg_product: hsl(0, 0%, 85%);
    --bg_product_info:hsl(0, 0%, 100%);
    --height_header: 60px;
    --box_shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.706);
}

.dark{
   --bg_body: hsl(249, 19%, 14%);
   --bg_home_img: hsl(182, 53%, 74%);
   --color_black:white;
   --color_white:black;
   --bg_product:hsla(246, 16%, 5%);
   --bg_product_info:hsl(246, 16%, 12%);
}

html {
    scroll-behavior: smooth;
}

body {
    /* padding: 1rem; */
    background-color: var(--bg_body);
}

.loading{
     width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    z-index: 100;
    background-color: var(--bg_body) ;
}

@keyframes loading_animation{
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }

}

.load__gif{
    width: 100px;
    fill: var(--bg_home_img);
    animation: loading_animation 2s infinite;

}

/* ***************************HEADER */

header {
    height: var(--height_header);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.5s, height 0.5s;
}

.header_active {
    background-color: var(--color_white);
    height: calc(var(--height_header) + 0.5rem);
}

header>nav {
    max-width: 1024px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: var(--color_black);
}

.nav_logo-icon{
    fill: var(--bg_home_img);
    width: 12%;
}


.logo_Academlo {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}



.menu_Products {
    position: fixed;
    background-color: var(--color_white);
    width: 100%;
    height: calc(100% - var(--height_header));
    top: var(--height_header);
    right: -300%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    transition: right 0.5s;
}

.view_menu_Products {
    right: 0;
}

.menu_Products li a {
    text-decoration: none;
    font-size: 2rem;

}

.menu_Products li a {
    color: var(--color_black);
   transition:  color 0.5s;
}

.menu_Products li a:hover {
    color: var(--bg_home_img);
}

.menu_Cart {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    gap: 0.5rem;
}

.menu_Cart i {
    font-size: 1.5rem;
    cursor: pointer;
}

.hide_icon_darkmode {
    display: none;

}

.cart {
    position: relative;
}

.cuanty_products {
    font-size: 0.5rem;
    width: 20px;
    height: 20px;
    background-color: var(--color_black);
    color: var(--color_white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;

}

/* ***************************CONTAINER */

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

.headPage {
    padding: 0;
    display: grid;
    gap: rem;
}

.home_Image {
    display: flex;
    gap: 50%;

}

.img_Page {
    background-color: var(--bg_home_img);
    padding: 2rem 0;
    min-height: 300pX;
}

.info_HeadPage {
    display: grid;
    gap: 1rem;
    padding: 1rem 2rem;
}


.info_HeadPage h1 {
    color: var(--color_black);

}

.info_HeadPage p:nth-child(2) {
    color: var(--color_stock);
}

.info_HeadPage p:nth-child(3) {
    color: var(--bg_home_img);
    font-weight: bold;
    font-size: x-large;
}

.info_HeadPage a {
    margin-bottom: 4rem;
    background-color: var(--bg_button_show);
    padding: 1rem 2.5rem;
    place-self: start;
    color: var(--color_white);
    text-decoration: none;
}

/* ***************************FILTER */

.filter_products {
    margin: 0% auto;
    max-width: 300px;
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.button_filter{
    cursor: pointer;
    text-align: center;
    background-color: var(--color_white);
    color: var(--color_black);
    font-size: 1rem;
    padding: 0.5rem 0;
    border: none;
    transition: background-color 0.5s, color 0.5s;


}

.button_filter--active{
    background-color: var(--color_black);
    color: var(--color_white);
}

.button_filter:hover{
    background-color: var(--color_black);
    color: var(--color_white);
}

button span{
    font-size: small;
    color: var(--color_stock);
}

/* ***************************PRODUCTS */


.products {
    max-width: 1024px;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 0 auto;
    gap: 2rem;
    padding-top: 3rem;
}

.cards_Products {
    border-radius: 1rem;
    box-shadow: var(--box_shadow);
    background-color: var(--bg_product);
    overflow: hidden;

}

.img_Product {
    padding: 1rem;
    background-color: var(--bg_product);
    transition: transform 0.4s ease-in-out ;
}

.img_Product:hover{
    transform: translateY(-10px);
}

.info_Product {
    padding: 5px 0;
    min-height: 100px;
    color: var(--color_black);
    background-color: var(--bg_product_info);
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
        justify-content: center;
    
}

.button_add {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg_product_info);
    border-radius: 50%;
    font-size: 1.5rem;
    top: -20px;
    right: 20px;
    padding: 8px;
    transition: color 0.5s, background-color 0.5s;
}

.button_add:hover{
    color: var(--color_white);
    background-color: var(--bg_home_img);
}


.button_add-hiden {
    display: none;
    user-select: none;
}


.price_stock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.price_stock h5 {
    color: var(--color_stock)
}

.sold_Out {
    background-color: var(--bg_home_img);
    color: var(--color_black);
    padding: 3px;
    border-radius: 5px;
    user-select: none;
}


.price_stock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-left: 20px;
}

.description_Product p {
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    transform: color 0.5s;
}

.description_Product p:hover{
    color: var(--bg_home_img);
}

/* ***************************MODAL PRODUCTS */
.modal_products{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed; 
    background-color: rgba(5, 1, 1, 0.344);
    width: 100vw;
    height: 100vh;
    z-index: 1500;
    place-self: center;
    top: 0;
    left: 0;
}

.modal_hidden{
    display: none;
    visibility: hidden;
    opacity: 0;
}

.card_modal{
    max-width: 350px;
    border-radius: 10px;
    /* overflow: hidden; */
    border: var(--color_black) solid 2px;
    padding: 1rem;
    background-color: red;
}

.image_modal{
    background-color: var(--bg_product);
    border-radius: 10px;
    position: relative;
}

.image_modal i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.modal_info{
    padding: 1rem 0;
    color:var(--color_black);
}

.card_modal p{
    color: var(--bg_button_show);
}

.modal_price--stock{
    display: flex;
    gap: 1rem;
}

/* ***************************CART */

.cart_content {
    height: calc(100vh - var(--height_header));
    width: 100%;
    background-color: var(--color_white);
    position: fixed;
    top: var(--height_header);
    right: -300%;
    display: flex;
    flex-direction: column;
    transition: right 0.5s;
    z-index: 20;
    

}

.view_cart {
    right: 0%;
    background-color: var(--bg_body);
    /* display: block; */
}

.cart_products {
    background-color: var(--bg_body);
    height: 85%;
    overflow-y: scroll;
    margin: 1rem 1rem 0 1rem;
}

.cart_total {
    background-color: var(--bg_body);
    height: 15%;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.cart_total--info {
    background-color: var(--bg_body);
    color: var(--color_stock);
    display: flex;
    justify-content: space-between;
}

.cart_total--info span:nth-child(2) {
    font-weight: bold;
}

.btn_buy button {
    padding: 1rem 4rem;
    width: 100%;
    background-color: var(--bg_button_show);
    color: var(--color_white);
    border: none;
    transition: background-color 0.7s;
}

.btn_buy button:hover {

    background-color: var(--bg_home_img);
}


/* ***************************Estilo de productos dentro de CART */

.product_InCart {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0.5rem;
    gap: 1.5rem;
    align-items: center;
    font-size: small;
}

.img_ProductInCart {
    background-color: var(--bg_product);
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--bg_home_img);
    padding-bottom: 1rem;
}

.info_ProductInCart {
    display: grid;
    gap:1rem;
}

.info_ProductInCart h3 {
    color: var(--color_black);
}

.info_ProductInCart p:nth-child(2) {
    color: var(--color_stock);
}

.info_ProductInCart span {
    color: var(--bg_home_img);
    font-size: small;
}

.info_ProductInCart p:nth-child(3) {
    color: var(--bg_home_img);
    font-size: 1rem;
}

.add_Sub_Clear {
    display: flex;
    gap: 0.5rem;
}

.add_Sub_Clear i {
    cursor: pointer;
    color: var(--color_black);
}

.add_Sub_Clear i:nth-child(4) {
    color: var(--bg_home_img);
}

/* ***************************FOOTER */

.footer_container {
    background-color: var(--bg_product);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
    margin-top: 2rem;
    transition: color 0.5s;
}

.footer_container h3 {
    color: var(--color_black);
}

.footer_container a {
    text-decoration: none;
    color: var(--color_social_icons);
}

.footer_container a:hover{
    color: var(--color_black);
}

.footer_container a i:hover{
    color: var(--color_black);
}


.footer_container div {
    display: grid;
    gap: 1rem;
}

.footer_container .social {
    display: grid;
}

.footer_container .icons_social {
    display: flex;
}

.footer_container .icons_social i {
    font-size: 2rem;
    color: var(--color_social_icons);
}

.personal_data {
    background-color: var(--bg_home_img);
    color: var(--color_black);
    padding: 1rem ;
    margin: 0 2rem 2rem  2rem;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    
    
}

.personal_data i {
    font-size: 2rem;
    
}

/* ***************************Estilos para dispositivos grandes  */

@media (min-width:700px) {
    /*min-width quiere decir a partir de... */

    .menu_Products {
        position: static;
        background-color: transparent;
        gap: 1rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: right 0.5s;
        padding-left: 1rem;
    }

    .menu_Products li a {
        font-size: 1rem;
        font-weight: 700;

    }

    .menu_Cart .dashboard {
        display: none;
    }

    .cart_content{
        width: 400px;
    }

    .headPage {
        margin-bottom: 10rem;
        grid-template-columns: repeat(3, 1fr);
        grid-row: 1fr;
        min-height: 75vh;
    }

    .headPage a {
        margin-bottom: 0rem;
    }

    .home_Image div:nth-child(1) {
        display: none;
    }


    .info_HeadPage {
        grid-column: 1 /3;
        grid-row: 1/2;
        /* place-self: center; */
        align-content: center;
    }

    .info_HeadPage h1 {
        font-size: 3rem;
    }

    .filter_products {
        margin: 0% auto;
        max-width: 600px;
        display: flex;
    }


    .filter_products button {
        width: 150px;
    }

    .footer_container{
        flex-direction: row;
        justify-content: space-between;
    }

   .footer_container .our_information{
    display: flex;
    flex-direction: column;
        gap: 1rem;
    }
.footer_container .social{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
}